<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @tag.type.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @tag.value %>
</p>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', selection_tags_path(@tag.selection) %>
