<h2>Selections</h2>
<table class="table table-responsive">
    <thead>
        <tr>
            <th data-field="start_x">X1</th>
            <th data-field="start_y">Y1</th>
            <th data-field="end_x">X2</th>
            <th data-field="end_y">Y1</th>
            <th colspan="2"> Actions</th>
        </tr>
    </thead>
    <tbody>
        <% selections.each do |selection| %>
            <tr>
                
                <td><%= link_to selection.start_x, selection %></td>
                <td><%= link_to selection.start_y, selection %></td>
                <td><%= link_to selection.end_x, selection %></td>
                <td><%= link_to selection.end_y, selection %></td>
                <td><%= link_to 'Edit', edit_selection_path(selection), :class => 'btn btn-mini' %></td>
                <td><%= link_to 'Delete', selection, :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini' %></td>
            </tr>
        <% end %>
    </tbody>
</table>
