<p id="notice"><%= notice %></p>

<h1>Selections for this image</h1>
<div class="image">
    <%= image_tag @image.url %>
</div>

<table>
  <thead>
    <tr>
      <th>Start x</th>
      <th>Start y</th>
      <th>End x</th>
      <th>End y</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @selections.each do |selection| %>
      <tr>
        <td><%= selection.start_x %></td>
        <td><%= selection.start_y %></td>
        <td><%= selection.end_x %></td>
        <td><%= selection.end_y %></td>
        <td><%= link_to 'Show', image_selection_path(@image, selection) %></td>
        <td><%= link_to 'Edit', edit_image_selection_path(@image, selection) %></td>
        <td><%= link_to 'Destroy', image_selection_path(@image, selection), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Selection', new_image_selection_path(@image) %>
