<p id="notice"><%= notice %></p>

<div>
    <p><%= @image.url %></p>
  <%= link_to image_tag(@image.url, class: (@image.reviewed ? "img_reviewed" : "img_unreviewed")), image_path(@image, clicked: "true")  %>
</div>
<div class="row">
    <div class="col-md-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th data-field="start_x">X1</th>
                    <th data-field="start_y">Y1</th>
                    <th data-field="end_x">X2</th>
                    <th data-field="end_y">Y1</th>
                    <th colspan="2"> Actions</th>
                </tr>
            </thead>
            <tbody>
                <% @image.selections.each do |selection| %>
                    <tr>
                        <td><%= selection.start_x %></td>
                        <td><%= selection.start_y %></td>
                        <td><%= selection.end_x %></td>
                        <td><%= selection.end_y %></td>
                        <td><%= link_to 'Edit', edit_image_selection_path(@image, selection), :class => 'btn btn-mini' %></td>
                        <td><%= link_to 'Destroy', image_selection_path(@image, selection), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
    

<div id=add_selection">
    <%= link_to 'New selection', new_image_selection_path(@image) %>
</div>

<%= link_to 'Back', images_path %>
