<p id="notice"><%= notice %></p>

<div>
    <p><%= @image.url %></p>
  <%= link_to image_tag(@image.url, class: (@image.reviewed ? "img_reviewed" : "img_unreviewed")), image_path(@image, clicked: "true")  %>
</div>
<div class="image_selection">
</div>
<!-- put selection logic here -->
<div id="no_selection">
    <p>Using your mouse, make a selection</p>
</div>
<div id="select_exists">
    <%= render partial: 'selection' %>
</div>

<div id="tag">
    <% # render partial: 'tag', tags: @image.tags %>
</div>
<%= link_to 'Back', images_path %>
