<p id="notice"><%= notice %></p>
<div class="row">
    <div class="col-md-4">
        <%= render partial: 'image', locals: {image: @image} %>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <%= render partial: 'selections/index_list', locals: {image: @image, selections: @image.selections} %>
    </div>
</div>
    
<%= link_to 'Add a Selection', new_image_selection_path(@image) %><br/>
<%= link_to 'Back', images_path %>
