<p id="notice"><%= notice %></p>

<div>
    <p><%= @image.url %></p>
  <%= link_to image_tag(@image.url, class: (@image.reviewed ? "img_reviewed" : "img_unreviewed")), image_path(@image, clicked: "true")  %>
</div>
<div id=add_selection">
    <%= link_to 'New selection', new_image_selection_path(@image) %>
</div>
<div id="select_exists">
    <%= link_to 'Show selections', image_selections_path(@image) %>
</div>

<div id="tag">
    <% # render partial: 'tag', tags: @image.tags %>
</div>
<%= link_to 'Back', images_path %>
