<p id="notice"><%= notice %></p>
<div class="row">
    <div class="col-md-4">
        <%= render partial: 'image', locals: {image: @image} %>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <%= render partial: 'selections/index_list', locals: {image: @image, selections: @image.selections} %>
    </div>
</div>
    

<div id=add_selection">
    <%= link_to 'New selection', new_image_selection_path(@image) %>
</div>

<%= link_to 'Back', images_path %>
